{
	"env": {
		"browser": true,
		"es6": true,
		"node": true
	},
	"extends": [
		"airbnb",
		"plugin:prettier/recommended",
		"plugin:testing-library/react",
		"plugin:jest-dom/recommended",
		"react-app",
		"react-app/jest"
	],
	"plugins": ["import", "react-hooks", "testing-library", "jest-dom"],
	"rules": {
		"no-console": "off",
		"comma-dangle": "warn",
		"import/no-unresolved": "off",
		"react/jsx-props-no-spreading": "off",
		"react/react-in-jsx-scope": "off",
		"import/extensions": [0],
		"react/jsx-indent": [0],
		"react/jsx-indent-props": [0],
		"react/prop-types": "off",
		"react/jsx-filename-extension": "off",
		"no-param-reassign": "off",
		"class-methods-use-this": "off",
		"import/no-extraneous-dependencies": "off",
		"react/button-has-type": "off",
		"import/no-anonymous-default-export": "off",
		"react/require-default-props": "off",
		"import/prefer-default-export": "off",
		"jsx-a11y/click-events-have-key-events": "off",
		"jsx-a11y/no-static-element-interactions": "off"
	}
}
