@import '~normalize.css/normalize.css';
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#unicode-app {
	height: 100%;
	font-family: 'Spoqa Han Sans', 'Roboto';
}

.h-body-without-header {
	height: calc(100% - theme('height.12'));
}

.w-test-papers {
	width: calc(100% - theme('width.72'));
}

.w-test-edit-content {
	width: calc(100% - theme('width.56') - theme('width.80'));
}
